<div class="container">
    @if (id()) {
        <h1>Modificar préstamo</h1>
    } @else {
        <h1>Crear préstamo</h1>
    }

    <form>
        <mat-form-field>
            <mat-label>Identificador</mat-label>
            <input type="text" matInput placeholder="Identificador" [(ngModel)]="id" name="id" disabled>
        </mat-form-field>

        
        <mat-form-field>
            <mat-label>Nombre del juego</mat-label>
            <mat-select [(ngModel)]="game" name="game" required>
                @for (game of games(); track game) {
                    <mat-option [value]="game">{{ game.title }}</mat-option>
                }
            </mat-select>
            <mat-error>El nombre del juego no puede estar vacío</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Nombre del cliente</mat-label>
            <mat-select [(ngModel)]="client" name="client" required>
                @for (client of clients(); track client) {
                    <mat-option [value]="client">{{ client.name }}</mat-option>
                }
            </mat-select>
            <mat-error>El nombre del cliente no puede estar vacío</mat-error>
        </mat-form-field>

        
    <mat-form-field>
        <mat-label>Fecha de préstamo</mat-label>
        <input 
            matInput 
            [matDatepicker]="loanPicker"
            [(ngModel)]="loanDate"
            name="loanDate"
            required>
        <mat-datepicker-toggle matIconSuffix [for]="loanPicker"></mat-datepicker-toggle>
        <mat-datepicker #loanPicker></mat-datepicker>
        <mat-error>La fecha de inicio de préstamo no puede estar vacía</mat-error>
    </mat-form-field>
            
    <mat-form-field>
        <mat-label>Fecha de devolución</mat-label>
        <input 
            matInput 
            [matDatepicker]="returnPicker"
            [(ngModel)]="returnDate"
            name="returnDate"
            required>
        <mat-datepicker-toggle matIconSuffix [for]="returnPicker"></mat-datepicker-toggle>
        <mat-datepicker #returnPicker></mat-datepicker>
        <mat-error>La fecha de fin de préstamo no puede estar vacía</mat-error>
    </mat-form-field>

    </form>
    <div class="buttons">
        <button mat-stroked-button (click)="onClose()">Cerrar</button>
        <button mat-flat-button color="primary" (click)="onSave()">Guardar</button>
    </div>
    @if (errorMessage()) {
        <div class="error-message">
            {{ errorMessage() }}
        </div>
    }
</div>